*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

nav{
    margin: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(180deg, rgba(61,61,61,1) 0%, rgba(46,46,46,1) 100%);
}

.logo{
    margin: 1em;
    line-height: 0;
    color: lightgray;
    letter-spacing: 10px;
    text-align: justify;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 10px;
    

    &__bottom{
        line-height: 0;
        font-size: 12px;
        letter-spacing: -0.2px;
        padding-top: 18px;
    }
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

    & a{
        color: lightgray;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 12px;
    }

    & li{
        list-style: none;
    }
}

.burger{
    display: none;
    cursor: pointer;
    & div{

        width: 25px;
        height: 3px;
        background-color: lightgray;
        margin: 5px;
        border-radius: 2px;
    }
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 70%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    nav{
        background: #2e2e2e;
        justify-content: space-between;
        padding: 0 2%;
    }
    .nav-links{
        margin: 0;
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 50%;
        top: 8vh;
        background: #2e2e2e;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
        z-index: 1;

        & li{
            opacity: 0;
        }       
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: transform 250ms ease-in;
}

.toggle .line2{
    opacity: 0;
    transition: opacity 200ms linear;

}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    transition: transform 250ms ease-in;

}

img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
}

section{
    padding: 5em 0;
}

.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;

    &>* {
        flex-basis: 18%;
        min-width: 13em;
    }
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125em;
    padding: 0.5em 1.25em;
    background: var(--clr-accent, cornflowerblue);
    border-radius: 1.25em;
    opacity: .9;
    transition:
        transform 250ms ease-in-out,
        opacity 175ms linear;
    
}

.btn:hover,
.btn:focus{
    transform: scale(1.04);
    opacity: 1;
}

.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem),4rem);
    color: #444;
    line-height: 1;
    margin-bottom: 5rem;
}

.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    /* background-color: #222222; */
    background-image:
        url(/img/0.png),
        radial-gradient(#444,#111);
    background-position: center; 
    background-size: contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.featured{
    background: #eeeeee;
    &__item{
        display: block;
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.2;

        &:hover,
        &:focus{
            transform: scale(1);

            .featured__details{
                opacity: 1;
            }
        }

        &::after{
            content: '';
            position: absolute;
            top: -0.5em;
            left: 0%;
            padding: 100% 100% 0 0 ;
            border-radius: 50%;
            background: #2193b0;
            z-index: -1;
        }
    }

    &__details{
        opacity: 0;
        transition: opacity 250ms linear;
        span{
            display: block;
            font-weight: 700;
            font-size: 2.5rem;

        }
    }
}

.product{
    background: radial-gradient(
       var(--clr-inner, limegreen), 
       var(--clr-outer, purple)
    );
    padding: 3em;
    border-radius: 1.5em;
    margin-bottom: 3em;
    text-align: center;

    &__title{
        font-size: 4rem;
        line-height: 1.1;
        margin-top: -0.15em;
        color: white;
        text-shadow: 0 0 .2em rgba( #000000, 0.2);
    }

    &__image{
        margin: -3em 0 0 0;

    }

    @media(min-width: 45em){
       text-align: left;
        &__image{
            float: right;
            width: 50%;
        }
       
    }
}

.hero{       
    --clr-accent: #eb8012;
}

.chair{
    --clr-inner: #f9dea6;
    --clr-outer: #db9949;
    --clr-accent: #27a9ad;
}

.sofa{
    --clr-inner: #92c9e7;
    --clr-outer: #4bacd2;
    --clr-accent: #df5633;
}

.bed{
    --clr-inner: #e2d5be;
    --clr-outer: #bdb1ba;
    --clr-accent: #0775b5;
}